
@media ( max-width:900px) {

* {
    font-size: small;
}

.fullscreen-banner {
    width:auto;
    height: 20rem;
    text-align: left;
}

.card {
    margin:2rem;
    padding:0;
}

.form{ width: fit-content;}

.footer {padding:1rem;}

.githubikon , .mailikon{display:none;}


@media ( max-width:600px) {

    * {
        font-size: small;
    }

    .fullscreen-banner {
        width:auto;
        height: 20rem;
        text-align: left;
    }

    .cards { flex-direction: column;}

    .card {
        margin:0;
        padding:0;
    }

    .wrapperform { margin:0; }

    .form{ width: fit-content;}

    .footer {padding:0;}

    .githubikon , .mailikon{display:none;}